@{
    ViewData["Title"] = "Index";
}


<form method="post" asp-action="PostImage" asp-controller="Impressionist" enctype="multipart/form-data">
    <ul class="input-list">
        <li class="instruction">1) Choose an image:</li>
        <li>
            <a class="sampleLink" href="/Impressionist/FromSample?sampleName=Castle.jpg">
                <img style="width:100%; max-width:200px;" src="/images/Castle.jpg" />
            </a>
        </li>
        <li>
            <a class="sampleLink" href="/Impressionist/FromSample?sampleName=BoraBora.jpg">
                <img style="width:100%; max-width:200px;" src="/images/BoraBora.jpg" />
            </a>
        </li>
        <li>
            <a class="sampleLink" href="/Impressionist/FromSample?sampleName=Rainier.jpg">
                <img style="width:100%; max-width:200px;" src="/images/Rainier.jpg" />
            </a>
        </li>
        <li>
            <input type="file" name="files" onchange="this.form.submit()" />
        </li>
    </ul>
    <ul class="input-list">
        <li class="instruction">2) Choose an Effect:</li>
        <li>
            <select name="effectName">
                <option value="&quot;Ripple&quot;">Ripple</option>
                <option value="&quot;Chalk And Charcoal&quot;">Chalk And Charcoal</option>
                <option value="&quot;Cutout&quot;">Cutout</option>
                <option value="&quot;Glowing Edges&quot;">Glowing Edges</option>
                <option value="&quot;Graphic Pen&quot;">Graphic Pen</option>
                <option value="&quot;Palette Knife&quot;">Palette Knife</option>
                <option value="&quot;Patchwork&quot;">Patchwork</option>
                <option value="&quot;Stained Glass&quot;">Stained Glass</option>
                <option value="&quot;Watercolor&quot;">Watercolor</option>
            </select>
        </li>
    </ul>
</form>

@if (ViewData["ResultImage"] != null)
{
    <ul class="output-list">
        <li class="orig_image"><img src="/images/@ViewData["OriginalImage"]" /></li>
        <li class="processed_image"><img src="/images/@ViewData["ResultImage"]" /></li>
    </ul>
}

@section scripts{
    <script>

        
        $(".sampleLink").click(function() {
            $(".sampleLink").attr("href", $(this).attr("href") + '&effectName=' + $('select[name="effectName"]').val());
        });


        $("body").on("mouseenter", ".processed_image", function () {
            $(this).fadeTo(100, 0);
        }).on("mouseleave", ".processed_image", function () {
            $(this).fadeTo(100, 1);
        });
    </script>
}