@{
    ViewData["Title"] = "Index";
}


<form method="post" asp-action="PostImage" asp-controller="Impressionist" enctype="multipart/form-data">
    <ul class="input-list">
        <li class="instruction">1) Choose an image:</li>
        <li>
            <a class="sampleLink" href="/Impressionist/FromSample?sampleName=Castle.jpg">
                <img style="width:100%; max-width:200px;" src="/images/Castle.jpg" />
            </a>
        </li>
        <li>
            <a class="sampleLink" href="/Impressionist/FromSample?sampleName=BoraBora.jpg">
                <img style="width:100%; max-width:200px;" src="/images/BoraBora.jpg" />
            </a>
        </li>
        <li>
            <a class="sampleLink" href="/Impressionist/FromSample?sampleName=Rainier.jpg">
                <img style="width:100%; max-width:200px;" src="/images/Rainier.jpg" />
            </a>
        </li>
        <li>
            <input type="file" name="files" onchange="this.form.submit()" />
        </li>
    </ul>
</form>

@if (ViewData["OriginalImage"] != null)
{
    <ul class="input-list">
        <li>Original<img style="max-width: 1000px; width:95%" src="/images/@ViewData["OriginalImage"]" /></li>
        <li>@ViewData["ResultFilterName0"]<img style="width:95%" src="/images/@ViewData["ResultImage0"]" /></li>
        <li>@ViewData["ResultFilterName1"]<img style="width:95%" src="/images/@ViewData["ResultImage1"]" /></li>
    </ul>
}

@section scripts{
    <script>

        
        /*$(".sampleLink").click(function() {
            $(".sampleLink").attr("href", $(this).attr("href") + '&effectName=' + $('select[name="effectName"]').val());
        });*/


        /*$("body").on("mouseenter", ".processed_image", function () {
            $(this).fadeTo(100, 0);
        }).on("mouseleave", ".processed_image", function () {
            $(this).fadeTo(100, 1);
        });*/
    </script>
}